.pass-str {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  margin: 0;
  padding: 0;
  &__sec {
    height: 10px;
    border-radius: 3px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
p {
  margin-bottom: 0px;
}
